
h1{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	color: rgb(15, 17, 17);
	text-shadow: 0 8px 9px #101111, 0px -2px 1px #e6dede;
	font-weight: bold;
	letter-spacing: -4px;
	text-align: center;
	position: relative;
	top: 10%;
	left:40%;
	transform: translate(-50%,-50%);
	border-radius: 2px;
}

.cotainer_car{
	max-width: 500px;
	height: auto;
	background-color: rgb(248, 245, 245);
	margin: 5% auto;
	position: relative;
}
.thead_car{
    background-color: rgb(231, 135, 135);
}