<div class="cotainer_car">
<div class="well">
  <h1>productos en carrito</h1>
 <li><a href=""></a></li>
   <div class="container">
  <div class="row">
    <div *ngFor="let product of products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image" [alt]="product.name">
          <span class="card-title">{{product.name}}</span>
        </div>
        <div class="card-content">
          <p><b>Precio: </b>{{product.price | currency}}</p>
        </div>
        
        <div class="card-action">
          <a href="" class="btn btn-success">Comprar<img src="assets/img/carrito_3.png" width="15px" height="15px"></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <a href="/" class="btn btn-success"><img src="assets/img/carrito_3.png">Confirmar compra</a>
  <a href="/store" class="btn btn-primary"><img src="assets/img/carrito_1.png">Continuar comprando</a>
</div>
</div>