<div class="container">
  <div class="row">
    <div *ngFor="let product of products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image" [alt]="product.name">
          <span class="card-title">{{product.name}}</span>
        </div>
        <div class="card-content">
          <p><b>Precio: </b>{{product.price | currency}}</p>
        </div>
        
        <div class="card-action">
          <button data-target="modal1" class="btn btn-success modal-trigger" (click)="addProduct(product)">
            Comprar<img src="assets/img/carrito_3.png" width="15px" height="15px"></button>
        </div>
      </div>
    </div>
  </div>
</div>
