<div class="container">
  <div class="row">

    <div *ngFor="let product of category_products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image"  [alt]="product.name">
          
          <span class="card-title" style="font-size: 12pt; color:rgba(22, 22, 94, 0.911)">{{product.name}}</span>

    <div *ngFor="let product of products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image" [alt]="product.name">
          <span class="card-title">{{product.name}}</span>

      
        
          <a>Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
