<form action="" method="post">
  
  <div class="container form-control">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="gatito@example.com" required> 
 </div>
  <div class="container form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <div class="container form-control">
    <button type="submit" class="btn btn-primary">INICIAR SESIÓN</button>
  </div>
</form>