<div class="container" >
<form (submit)="register()">
  
  <div class="container form-control">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="gatito@example.com" [(ngModel)]="email" required> 
 </div>
  <div class="container form-control">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" required >
  </div>
  <div class="login">
    <button type="submit" class="btn btn-primary" id="login">INICIAR SESIÓN</button>
    <a href="/register"> Registrarse</a>
  </div>
</form>
</div>