
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header">Iniciar sesion <img src="https://www.championstore.com/wcsstore/HanesEuropeSAS_B2C/images/logo.png" width="250" alt="Logo Shoes store"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-lg-left">
              <br>
             
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password"  required>
             <!-- <button  routelink="/store" class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.login(userEmail.value, userPassword.value)">Login</button>-->
              <a href="/store" class="btn btn-primary">Login</a>
               <a routerLink="/register">olvidaste contraseña?</a>
            </div>
          </div>
        </div>
      </div>
    </div>