<layout-navbar></layout-navbar>

<main>
  <router-outlet></router-outlet>
 <!-- <a [routerLink]="" (click)="addShoppingCart()"><img src="https://www.championstore.com/wcsstore/HanesEuropeCAS/images/product/full/SS19/CHPEU_212801_BL501_Full.jpg"><i [ngClass]="{ 'text-dark': !flag_shopping_cart }"
      class="fas fa-shopping-cart fa-2x"></i></a>  
  
  <a [routerLink]="" (click)="addShoppingCart()"><img src="https://www.championstore.com/wcsstore/HanesEuropeCAS/images/product/full/SS19/CHPEU_213028_EM004_Full.jpg"><i [ngClass]="{ 'text-dark': !flag_shopping_cart }"
      class="fas fa-shopping-cart fa-2x"></i></a>-->
 
  <div class="container">
    <div class="text-justified">
    <h1>
      Champion
    </h1>
  <p style="font-family: 'Nunito Sans',Arial; color: rgb(21, 8, 34);    text-align: left;">
    Champion Athleticwear ha equipado a atletas dentro y fuera del campo desde 1919. Es nuestra cultura, nuestra herencia,
    nuestro ADN. Champion es una vestimenta atlética auténtica para todos, desde atletas de todos los días hasta deportes de
    equipo y ropa de calle.
 </p> 
  <p style="color: rgb(21, 8, 34);">
    Creada en un siglo de inspiración e innovación para atletas, fuimos pioneros en la sudadera con nuestro icónico tejido
    de tejido Reverse Weave® y somos el hogar de la sudadera con capucha original. La artesanía superior, los gráficos
    exclusivos y las colaboraciones de diseñadores han elevado nuestra indumentaria deportiva a los íconos de la calle.
  </p>
  <p style="color: rgb(21, 8, 34);">
    Desde sujetadores deportivos hasta prendas de entrenamiento para hombres y mujeres, nuestro equipo de rendimiento lo
    lleva a lo grande. Champion presentó nuestro sujetador deportivo que cambió de juego hace más de 40 años. Nuestros
    sostenes deportivos de apoyo moderado y máximo han ayudado a las mujeres a perseguir su amor por el deporte desde
    entonces. Con la innovación en nuestro núcleo, las telas, tanques, pantalones, mallas, pantalones cortos y chaquetas
    Champion cuentan con lo último en tejidos de alto rendimiento. La tecnología Double Dry ™ te mantiene más fresco y seco,
    sin importar lo duro que entrenas. La tecnología avanzada de olor FreshIQ® resiste las bacterias que causan el olor en
    la ropa para que se sienta fresco todo el día. Nuestra ropa de entrenamiento cuenta con lo último en telas livianas y
    sin costuras para ayudarlo a entrenar con una comodidad de 360 ​​grados sin distracciones.
    </p>
    <p style="color: rgb(21, 8, 34);">
    Creemos que todos tienen el potencial de ser un campeón. Durante casi 100 años, Champion ha sido un líder en ropa
    deportiva. Mucho ha cambiado a lo largo de la larga historia, pero lo que nos guía permanece sin cambios: el amor por el
    deporte, un espíritu de innovación y calidad sin compromisos.
    </p>
    <p style="color: rgb(21, 8, 34);">
    Champion Athleticwear se puede comprar en grandes almacenes, artículos deportivos, tiendas especializadas y en
    Champion.com. Para obtener más información, contáctenos al 1-800-315-0563 o en Facebook.com/Champion, síganos en Twitter
    @Championusa o en Instagram @Champion. Champion es una marca de Hanesbrands Inc.
  </p>
  </div>
</div>
</main>

<layout-footer></layout-footer>