<header>
    
  <div class="navbar-fixed">
        
    <nav>
      <div class="nav-wrapper">
       
         
        <div class="container">
                      <img routerLink="/" src="https://www.championstore.com/wcsstore/HanesEuropeSAS_B2C/images/logo.png" alt="logo">
             
          <ul class="right hide-on-med-and-down">
                        
            <li class="nav-item active">
              <a routerLink="/login" class="nav-link" >Iniciar Sesión</a>
          </li>

          <li>
              <a routerLink="/register" >Registrarse</a>

           </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
