img:hover{
	transform: scale(0.9); 
	border-radius: 30px; 
	
}
img{
	transition: all 0.5s linear;
	padding-top: 10px;
}
h1{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
	text-transform: uppercase;
	color: rgb(14, 12, 12);
	text-shadow: 0 8px 9px #0a0606, 0px -2px 1px #bbbbbb;
	font-weight: bold;
	letter-spacing: -4px;
	text-align: center;
	position: relative;
	top: 10%;
	left:40%;
	transform: translate(-50%,-50%);
	border-radius: 2px;
}
.cotainer{
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
}
.input, .btn__submit, .btn__reset{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}
.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}
