
<body> 
        
  <div class="container form-control">
          <h4>Registro de inventario</h4>
  <form form="form_reg" action="" name="f1" >
          
          <label>Codigo:</label>
          <input type="number" placeholder="Codigo">
          <label>Categoria</label>
          <input type="text" placeholder="Categoria">
          <label>Descripcion</label>
          <input type="text" placeholder="Descripcion">
          <label>Color</label>
          <input type="text" placeholder="Color">
          <label>Talla:</label>
          <input type="number" placeholder="Talla">
          <label>Cantidad:</label>
          <input type="number" placeholder="Cantidad">
          <label>Presio:</label>
          <input type="number" placeholder="Presio">
          <label>Margen de Descuento si aplica:</label>
          <input type="number" placeholder="Margen de Descuento si aplica">
         
          
          
                  
         
             
         
      <input type="submit" class="btn_submit" value="Registrar">
      <input class="btn_reset" type="reset" value="quitar">
      <input type="submit" class="btn_submit" value="editar">
      <input type="submit" class="btn_submit" value="actualizar">
  </form>
  </div>
  
  </body>
  